Lab11_XML_Valid XML Documents/3.xsd

<xs:schema
xmlns:xs="http://www.w3.org/2001/XMLSchema">
 <xs:element name="body">
 <xs:complexType>
 <xs:sequence>
	 <xs:element name="people" maxOccurs="unbounded">
		 <xs:complexType>
			 <xs:sequence>
				 <xs:element name="name" type="xs:string"/>
				 <xs:element name="surname" type="xs:string"/>
				 <xs:element name="type" type="xs:string"/>
				 <xs:element name="awards" type="xs:string"/>
			 </xs:sequence>
		 </xs:complexType>
	 </xs:element>
 </xs:sequence>
 </xs:complexType>
 </xs:element>
</xs:schema>